[submodule "references/BambuStudio"]
	path = references/BambuStudio
	url = https://github.com/Helio-Additive/BambuStudio.git
	shallow = true
[submodule "references/OrcaSlicer"]
	path = references/OrcaSlicer
	url = https://github.com/Helio-Additive/OrcaSlicer.git
	shallow = true
